.tenzies-container {
  position: fixed;
  bottom: 20px;          /* 20px from the bottom */
  left: 50%;             /* position left edge at 50% of viewport */
  transform: translateX(-50%); /* shift container left by 50% of its width to center it */
  width: 500px;
  height: 500px;
  background-color: rgb(207, 37, 37);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 8px;
  overflow: auto;
  z-index: 1000;
}